*
    box-sizing border-box
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color #20303c
body
    padding 0
    margin 0
    display flex
    align-items center
    justify-content center
    min-height 100vh