.article
    color red
    padding  2vmin
    width   50vw
    &Title
        color #2e2e2e
        padding 1vmin
        text-align center
        font-size calc(15px + 2vmin)
    &Section
        color blue
        font-size calc(10px + 1vmin)
    &Text
        text-align center